{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>404 - fel adress</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="row text-aling-center">
                <h3>404 - fel adress</h3>
                <p>Använd navegeringsmeny för att komma åt de viktigaste sidor!</p>
            </div>
        </div>
    {% endblock content %}
</body>
</html>