{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'calc.css' %}">
    <title>Kalkylatorn</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="header_content">
            <h1>Kalkylatorn</h1>
            <p>Skriv ett tal i URL eller i rutan nere för att se multiplikationstabell!</p>
            <form action="{% url 'calcform'%}" method="post">
                {% csrf_token %}
                <input type="number" name="number" class="input_number">
                <input type="submit" value="Kör!" class="input_send">
            </form>
        </div>
        <div class="content">
            {% if results %}
                <h3>Multiplikationstabell med {{ number }}</h3>
                <table>
                    {%for result in results%}
                    <tr>
                        <td>{{number}}</td>
                        <td>*</td>
                        <td>{{forloop.counter}}</td>
                        <td>=</td>
                        <td>{{result}}</td>
                    </tr>
                    {%endfor%}
                </table>
                
            {% else %}
                <h3>Multiplikationstabell</h3>
            {% endif %}
        </div>
    {% endblock content %}
</body>
</html>