{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Kalkylatorn</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row m-5">
            <h3>Kalkylatorn</h3>
            <hr>
            <p>Gå till "/table/n", där n är ett heltal och se Multiplikationstabell för detta talet!</p>
            <p>Eller fyll i formulär:</p>
            <form action="{% url 'calcform'%}" method="post">
                {% csrf_token %}
                <input type="number" name="number">
                <input type="submit" value="kör!">
            </form>
            <hr>
            {% if results %}
            <p>Multiplikationstabell med tal {{number}}</p>
            <ul>
                {%for result in results%}
                    <li>{{number}} * {{forloop.counter}} = {{result}}</li>
                {%endfor%}
            </ul>
            {% else %}
            <p>Några exemplar: </p>
            <a href="{% url 'calc' 1 %}" class="link-primary">Testa multiplikation med 1</a>
            <a href="{% url 'calc' 5 %}" class="link-primary">Testa multiplikation med 5</a>
            <a href="{% url 'calc' 10 %}" class="link-primary">Testa multiplikation med 10</a>
            <a href="{% url 'calc' 32 %}" class="link-primary">Testa multiplikation med 32</a>
            <a href="{% url 'calc' 100 %}" class="link-primary">Testa multiplikation med 100</a>
            {% endif %}
        </div>
    </div>
    
    {% endblock content %}
</body>
</html>