{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Home</title>
    {% endblock title %}
    
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="header-content">
            <h1>Homepage</h1>
            <p>Hej och välkommen till min hemsida, jag har valt att göra alla appar 1 - 4 och ska där visa att jag når ett betyg A.</p>
        </div>
        <div class="content">
            <div class="card">
                <h3>Kalkylatorn</h3>
                <p>En enkel form av multiplikationstabell med exemplar. Du kan sätta eget tal i URL eller fylla i formulär och se resultat!</p>
                <a href="{% url 'calchome' %}" class="hover_secondary"><button>Gå och testa</button></a>
            </div>
            <div class="card primary_accent">
                <h3>To-Do lista</h3>
                <p>En avanserad to-do lista där du kan skapa, kategorisera och ändra dina uppgifter.
                    <br> <br>
                    OBS: logga in först!</p>
                <a href="{% url 'user_login' %}" class="hover_secondary"><button>Logga in</button></a>
            </div>
            <div class="card">
                <h3>Din profil</h3>
                <p>Skapa eget konto för att kunna spara sina uppgifter och se din profil. Du kan alltid ändra info eller byta lösenord.</p> <br>
                <a href="{% url 'signin' %}" class="hover_secondary"><button>Skapa konto</button></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>