{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>Profil - {{ username }}</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="header_content">
            <h1>Min profil</h1>
            <p>Användarnamn: {{ username }}</p>
            <p>Namn: {{ name }}</p>
            <p>Efternamn: {{ lastname }}</p>
            <p>E-postadress: {{ email }}</p>
            <p>Du är med oss från {{ joined }}</p>

            <a href="{% url 'profileChange' %}" class="hover_secondary"><button type="button">Ändra information</button></a>
        </div>
    </div>
    {% endblock content %}
</body>
</html>