{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'todo.css' %}">
    <title>To-Do lista - lägga till</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
        <div class="container col-4">
            <div class="content">
                {% if categories %}
                <h1 class="my-5">Lägg till en uppgift</h1>
                <form action="{% url 'toDoAddApplier' %}" method="post">
                    {% csrf_token %}
                    <label for="taskname">Uppgift:</label>
                    <input type="text" name="taskname" id="" placeholder="Uppgift" class="form-control">
                    <label for="category" class="option_label">Kategori:</label>
                    <select name="category" id="" class="form-control">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <a href="{% url 'categoryAdd' %}" class="accent_link">Skapa ny kategori</a> <br>
                    <a href="" class="hover_secondary_call"><button type="submit">Lägga till uppgift</button></a>
                    <!-- <input type="submit" value="Lägga till uppgift" class="btn btn-primary form-sender col"> -->
                </form>
                {% else %}
                    <h3 class="my-5">Lägg till en kategori</h3>
                    <form action="{% url 'categoryApplier' %}" method="post">
                        {% csrf_token %}
                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
                        <label for="categoryname">Namn på kategorin:</label>
                        <input type="text" name="categoryname" id="" placeholder="Skola/Jobb/..." class="form-control">
                        <a href="" class="hover_secondary_call"><button type="submit">Lägg till kategori</button></a>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endblock content %}
</body>
</html>