{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'todo.css' %}">
    <title>Ändra - {{ task.task }}</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="content">
            <h3>Ändra - {{ task.task }}</h3>
            <form action="{% url 'changeTaskApply' %}" method="post">
                {% csrf_token %}
                {% if task %}
                <label for="newtaskname">Uppgift:</label>
                <input type="text" name="newtaskname" id="" placeholder="{{ task.task }}" class="form-control" value="{{ task.task }}">
                <label for="category" class="option_label">Kategori:</label>
                <select name="category" id="" class="form-control">
                    {% for category in categories %}
                        {% if category == currentcategory %}
                            <option value="{{ category }}" selected>{{ category }}</option>
                        {% else %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <a href="{% url 'categoryAdd' %}"  class="accent_link">Lägg till kategori</a>
                <p class="space">Läge:</p>
                <div class="form-check">
                    <input type="radio" name="status" id="radio_1" class="no_outline" value="1" checked>
                    <label for="radio_1" class="radio_label">Pågående</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="status" id="radio_2" class="no_outline" value="2">
                    <label for="radio_2" class="radio_label">Slutfört</label>
                </div>
                <a href="" class="hover_secondary_call"><button type="submit">Spara</button></a>  
                <input type="number" name="taskID" id=""value="{{ task.id }}" style="display: none;">         
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
