{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'todo.css' %}">
    <title>To-Do lista</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="content">
                <h1>To-Do lista</h1>
                <form action="{% url 'changeStatus' %}" method="post">
                    {% csrf_token %}
                    {% if tasks %}
                        <table>
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col" class="th_content">Uppgift</th>
                                <th scope="col" class="th_content">Läge</th>
                                <th scope="col" class="th_content">Kategori</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <th scope="row"><input type="checkbox" name="status[]" id="" value="{{ task.id }}"
                                            class="no_outline"></th>
                                        <td>
                                            <a href="{% url 'changeTask' task.id %}" class="link-light text-decoration-none">
                                                <img src="{% static 'img/icons8-edit.svg' %}" alt="edit">
                                            </a>
                                        </td>
                                        <td class="td_content">
                                            {% if task.status != "Pågående" %}
                                                <del class="text-muted">{{ task.task }}</del>
                                            {% else %}
                                                {{ task.task }}
                                            {% endif %}
                                        </td>
                                        <td class="td_content">{{ task.status}}</td>
                                        <td class="td_content">{{task.category}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                {% endif %}
                <a href="{% url 'toDoAdd' %}" class="link_btn">Lägga till</a>
                <a href="" class="hover_primary_call"><button type="submit">Markera som klar</button></a>
                </form>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
