{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
{% for book in books %}
        <div class="col-3 mb-5">
            <div class="card d-flex flex-column h-100" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                {% for author in book.author.all %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ author.name }}</h6>
                {% endfor %}
                <p class="card-text flex-fill">{{ book.description|truncatechars:100 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'bookRes' book.title book.id %}" class="card-link ">Recensioner</a>
                    <a href="#" class="card-link ">Författare</a>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}