{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row gap-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Book title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Book authors</h6>
            <p class="card-text">Book description</p>
            <a href="#" class="card-link">Recensioner</a>
            <a href="#" class="card-link">Författare</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}